
/*****navbra css*****/
.momo-photo {
    width: 100px;
    height: 10vh;
    border-radius: 100%;
}
.nav-link {
 margin-left: 5px;
 margin-right: 5px;
 font-size: 20px;
}
.collapse {
    justify-content: space-around;
}
.container-fluid {
    background-color:rgb(211, 56, 9);
    border-radius: 10%;
}
@media (max-width: 314px) {
    .momo-photo {
        display: none;
    }
}



/*****carousel css*****/
.carousel {
    width: 80vw;
    height: 75vh;
    margin-left: 140px;
    margin-bottom: 40px;
}
@media (max-width:767){
    .carousel {
        width: 100vw;
        
    }
}




/****footer css****/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: #1d2434;
}

.footer .footer-contact,
.footer .footer-link,
.footer .footer-goal {
    position: relative;
    margin-bottom: 45px;
    color: #999999;
}

.footer .footer-contact h2,
.footer .footer-link h2,
.footer .footer-goal h2{
    position: relative;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 700;
    color: #D5B981;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #999999;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #D5B981;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    display: inline-block;
}

.footer .footer-social a i {
    margin-right: 15px;
    font-size: 18px;
    color: #D5B981;
}

.footer .footer-social a:last-child i {
    margin: 0;
}

.footer .footer-social a:hover i {
    color: #999999;
}

.footer .footer-goal .form {
    position: relative;
    width: 100%;
}

.footer .footer-goal input {
    height: 60px;
    border: 2px solid #1d2434;
    border-radius: 0;
}

.footer .footer-goal .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 44px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #1d2434;
    background: none;
    border-radius: 0;
    border: 2px solid #1d2434;
    transition: .3s;
}

.footer .footer-goal .btn:hover {
    color: #D5B981;
    background: #1d2434;
}

.footer .copyright {
    padding: 0 30px;
}

.footer .copyright .row {
    background: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer .copyright p {
    margin: 0;
    color: #454545;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #1d2434;
    font-weight: 700;
}

.footer .copyright p a:hover {
    color: #D5B981;
}


